#!/bin/sh

set -e

. /usr/share/debconf/confmodule || exit 0

IPVSADM_CONFIG="/etc/default/ipvsadm"

db_version 2.0

if [ -f $IPVSADM_CONFIG ]; then
    . $IPVSADM_CONFIG

    [ -n "$AUTO" ] && db_set ipvsadm/auto_load_rules "$AUTO"
    [ -n "$DAEMON" ] && db_set ipvsadm/daemon_method "$DAEMON"
    [ -n "$IFACE" ] && db_set ipvsadm/daemon_multicast_interface "$IFACE"
fi

db_input medium ipvsadm/auto_load_rules || true
db_go

db_capb backup

IFACE_ERR=""
STATE=1
while [ "$STATE" != "0" -a "$STATE" != "3" ]; do
    ERRNO=0
    case "$STATE" in
	1)
	    db_input medium ipvsadm/daemon_method || true
    	    db_go || ERRNO=$?
	    ;;
	2)
	    db_get ipvsadm/daemon_method
	    if [ "$RET" != "none" ]; then
		db_input low ipvsadm/daemon_multicast_interface || true
		db_go || ERRNO=$?
		if [ "$ERRNO" != "0" ]; then
		    db_subst ipvsadm/daemon_multicast_interface \
			interface_error ""
		fi
	    fi
	    ;;
    esac

    if [ "$ERRNO" = "0" ]; then
	STATE=$(($STATE + 1))
    else
	STATE=$(($STATE - 1))
    fi
done

db_subst ipvsadm/daemon_multicast_interface interface_error ""
