#!/usr/bin/make -f

CFLAGS += -Wall -Wunused -Wstrict-prototypes -g -fPIC -DLIBIPVS_USE_NL

include /usr/share/dpatch/dpatch.make

%:
	dh $@ --with dpatch

override_dh_auto_install::

override_dh_auto_clean:
	dh_auto_clean
	-rm debian/files
